.challenge {
    align-items: initial;
}
.title-challenge {
    text-align: left;
    font: normal normal 600 60px/60px Teko;
    letter-spacing: 0px;
    color: #000000;
}

.forecast {
    width: 130%;
}

.day-forecast > div > h1 {
    text-align: left;
    font: normal normal 600 17px/53px Teko;
    letter-spacing: 0.51px;
    color: #e4003b;
    text-transform: uppercase;
}

.day-forecast > div > h2 {
    text-align: left;
    font: normal normal medium 36px/37px Teko;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.day-forecast > div > p {
    text-align: left;
    font: normal normal normal 14px/26px TT Lakes;
    letter-spacing: 0.28px;
    color: #000000;
    max-width: 25rem;
}

.day-forecast > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;
}

.day-forecast {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.close-article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.close-article > span {
    margin-left: 4%;
}

.title-shoes {
    font: normal normal 600 60px/90px Teko;
    letter-spacing: 0px;
    color: #000000;
}

.description-shoes {
    font: normal normal 300 36px/37px Teko;
    letter-spacing: 0px;
    color: #000000;
    text-align: left;
    max-width: 25rem;
}

.part-shoes {
    display: flex;
    flex-direction: column;
    margin-left: -30%;
    /* overflow: hidden; */
}

.title-endurance {
    display: flex;
    flex-direction: row;
}

.title-endurance > span:first-child {
    text-align: left;
    font: normal normal 600 60px/60px Teko;
    letter-spacing: 0px;
    color: #e4003b;
}

.title-endurance > span:last-child {
    text-align: left;
    font: normal normal 600 174px/130px Teko;
    letter-spacing: 5.22px;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 20rem;
    margin-top: 2rem;
}

.mission {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mission > p {
    text-align: initial;
    max-width: 30rem;
    margin-top: 1.5rem;
}

.close-endurance {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

.close-endurance > span {
    margin-left: 0.8rem;
}

.image-shoes {
    text-align: left;
    max-height: 30%;
}
