.part-result {
    font: normal normal 600 130px/130px Teko;
    letter-spacing: 5.22px;
    color: #FFFFFF;
    text-transform: uppercase;
    /* transform: matrix(0, -1, 1, 0, 0, 0); */
    transform: rotate(-180deg);  
    writing-mode: vertical-lr;
}
.text-pourcent-survival {
    display: flex;
    flex-direction: column;
}
.text-pourcent-survival > span, .text-pourcent-survival > div {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    margin-top: 0.5rem;
    font: normal normal 600 39px/31px Teko;
    letter-spacing: 0px;
    color: #000000;
}

.part-complete-challenge {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.part-complete-challenge > h1 {
    margin-top: 3rem;
}

.header-complete-challenge {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.title-complete-challenge {
    text-align: left;
    flex-shrink: 0;
    font: normal normal 600 17px/53px Teko;
    letter-spacing: 0.51px;
    color: #000000;
    text-transform: uppercase;
}

.text-pourcent-survival > div > span:first-child {
    color: #E4003B;
    margin-right: 0.5rem;
}

.text-completed-challenge {
    background: transparent linear-gradient(180deg, #00000000 0%, #00000099 100%) 0% 0% no-repeat padding-box;
    border: 30px solid #E4003B;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 392px;
    height: 596px;
}

.text-completed-challenge > span {
    font: normal normal medium 60px/54px Teko;
    letter-spacing: 0px;
    color: #EDF0F2;
    text-transform: uppercase;
}

.text-completed-challenge > p {
    text-align: left;
    font: normal normal medium 36px/37px Teko;
    letter-spacing: 0px;
    color: #EDF0F2;
}

.text-completed-challenge > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7%;
    margin-top: 5%;
}

.text-completed-challenge > div > span {
   margin-left: 15%;
   text-align: center;
    font: normal normal 600 17px/53px Teko;
    letter-spacing: 0.51px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.part-picture-completed-challenge {
    position: relative;
}