nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

.navigation-bar {
    list-style: none;
    margin-right: 58px;
}

.right-navbar-menu {
    margin-left: auto;
}
li {
    display: inline;
    font-family:'Teko SemiBold', sans-serif;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    letter-spacing: 0.51px;
    font-size: 1.063rem;
    line-height: 53px;
}

.separate-navbar {
    border: 1px solid var(--unnamed-color-000000);
    border: 1px solid #000000;
    opacity: 0.3;
    width: 0px;
    height: 37px;
}
.option-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 52px;
    gap: 50px;
}
.langue-switch {
    text-transform: uppercase;
    font-family:'Teko SemiBold', sans-serif;
    letter-spacing: 0.51px;
    font-size: 1.063rem;
    line-height: 53px;
}
.left-bar-logo {
    margin-left: 230px;
}

.search-button {
    background: #E4003B 0% 0% no-repeat padding-box;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
}