@font-face {
  font-family: 'Adevale';
  src: local('Adevale'), url(../public/fonts/Adevale/Adevale.otf) format('opentype');
}

@font-face {
    font-family: 'Teko';
    src: local('Teko'), url(../public/fonts/Teko/Teko-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(../public/fonts/Teko/Teko-SemiBold.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Teko', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1600px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: content-box;
  background: #EDF0F2 0% 0% no-repeat padding-box;
}

section {
  display: flex;
  flex-direction: row;
  height: auto;
  box-sizing: content-box;
  align-items: center;
  padding-right: 2%;
  padding-left: 5%;
  position: relative;
  margin-top: 6%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}